/*------------------------------------------------------------------
[Table of contents]

1. Common
2. Header / header
3. Banner Section / .banner-section
4. Head Section / .page-head
5. Brand Section / .brand-partner

6. How it works Section / .how-it-works
7. Features Section / .features
8. Why Jodi Section / .why-jodi
9. Testimonial Section / .testimonial
10. Jodi Plans Section / .jodi-plans
11. Jodi Stories Section / .jodi-stories
12. FAQs Section / .faq
13. Try Jodi Section / .try-jodi
14. Subscribe Section / .subscribe
15. Footer Section / .footer
16. Homepage 2 / .homepage-2
17. Homepage 3 / .hp-3
18. About Page
19. Contact Page
20. Blog Page / .blogs
21. Blog Details / .blog-details
22. Modals / .modal

[Color codes]

# Primary Color (Buttons, Links): #EB4B1A !important
# Dark Blue Color (Headings) #EB4B1A !important
# Mid Grey (Subheadings, Captions, Paragraphs) rgba(31, 31, 57, 0.5)

*/

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900');*/

/*------------------------------------------------------------------
1. Common :: Starts
*/
body {
	font-size: 20px;
	font-family: 'Figtree', serif;
	color: #EB4B1A !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-left: 25px;
	padding-right: 25px;
	position: relative
}

ul {
	padding: 0;
	margin: 0;
}

.btn.btn-primary {
	background-color: #0E7DFF;
}

.btn.btn-primary:hover {
	background-color: #005fcf;
}


.btn:focus,
.btn-close:focus {
	box-shadow: none;

}

.section-title {
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	color: #EB4B1A !important;
	margin-bottom: 18px;
}

.section-subtitle {
	font-size: 1em;
	color: rgba(31, 31, 57, 0.5);
	text-align: center;
	line-height: 28px;

}

.title-top {
	font-size: 0.75em;
	font-weight: 700;
	color: rgba(31, 31, 57, 0.5);
	letter-spacing: 2px;
}

.app-download {
	display: flex;
	gap: 45px;
	justify-content: center;
}

.app-download div {
	border: 2px solid #EB4B1A !important;
	height: 90px;
	width: 280px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	transition: 0.3s all;

}

.app-download div:hover {
	transform: scale(1.05);
}

.app-download div a {
	text-decoration: none;

}

.app-download div a span {
	margin-left: 15px;
}

.main-content {
	overflow-x: hidden;
}

input:focus {
	border: none;
	outline: none;
}

/*------------------------------------------------------------------
Common :: Ends
*/
/*------------------------------------------------------------------
3. Banner Section / .banner-section :: Starts
*/
.banner-section {
	/*background-color: transparent;*/
	position: relative;
	/*background-color: #EB4B1A !important;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;*/
	/*border-radius: 25px;*/

}
.catch-phrase {
	padding-top: 100px;
	background-color: #EB4B1A !important;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;
	/*border-radius: 25px;*/
	margin-bottom: 20px;
	align-self: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.banner-section h3 {
	font-size: 4em;
	font-weight: 800;
	text-align: center;
	padding-top: 80px;
	color: #FFFFFF;
}

.banner-section p {
	margin-top: 20px;
	margin-bottom: 100px;
	color: #d6d6d6;

}

.logo {
	width: 20em;
	height: 10em;
	align-self: center;
	justify-content: center;
	align-items: center;
	display: flex;

}

.banner-vectors .banner-vector-1 {
	position: absolute;
	top: 55%;
	left: -29%;
}

.banner-vectors .banner-vector-2 {
	position: absolute;
	top: 68%;
	right: -12%;
}

.banner-vectors .banner-vector-3 {
	position: absolute;
	top: 90%;
	right: 5%;
}

.banner-vectors .banner-vector-4 {
	position: absolute;
	top: 76%;
	left: -8%;
}

.banner-vectors .banner-vector-5 {
	position: absolute;
	bottom: -10%;
	left: -22%;
}

.banner-carousel.owl-carousel .screenshot img {
	width: auto;

}

.hp-1 .banner-section .app-download {
	margin-bottom: 100px;
}

.hp-1 .banner-section {
	background: linear-gradient(180deg, #FFFFFF 80%, #fff 30%);

	/*padding-top: 100px;*/
}

.hp-1 .banner-section .watch-now .btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	margin-top: 70px;
	font-weight: 700;
	/*background-color: #EB4B1A !important;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;*/

}

.hp-1 .banner-section .watch-now .btn-container img {
	transition: 0.3s all;

}

.hp-1 .banner-section .watch-now .btn-container:hover img {
	transform: scale(1.2);
}

.hp-1 .banner-section .watch-now a {
	text-decoration: none;
}
/*------------------------------------------------------------------
Banner Section / .banner-section :: Ends
*/


/*------------------------------------------------------------------
4. Head Section / .page-head :: Starts
*/
.page-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 730px;
	background-color: transparent;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;
	position: relative;
}

.page-head h2 {
	font-size: 100px;
	font-weight: bolder;
	color: #EB4B1A !important;
}

.page-head span {
	font-size: 20px;
	color: #EB4B1A !important;
}

.page-head .input-container {
	position: relative;
	margin-top: 35px;
}

.page-head .input-container input {
	border: none;
	background-color: #fff;
	width: 650px;
	padding: 25px 70px;
	font-size: 30px;
	border-radius: 20px;
}

.page-head .input-container input::placeholder {
	color: rgba(31, 31, 57, 0.5);
}

.page-head .input-container button {
	padding: 18px 36px;
	border: none;
	background-color: #0E7DFF;
	border-radius: 20px;
	color: #fff;
	font-weight: 700;
	position: absolute;
	top: 15%;
	right: 3%;
}

.page-head .fa-magnifying-glass:before,
.fa-search:before {
	content: "\f002";
	position: absolute;
	top: 40%;
	left: 5%;
	color: rgba(31, 31, 57, 0.5);
	font-size: 25px;
}

.page-head .page-vectors img.page-vector-1 {
	position: absolute;
	top: 55%;
	right: 14%;
}

.page-head .page-vectors img.page-vector-2 {
	position: absolute;
	bottom: -9%;
	left: 13%
}

.page-head .page-vectors img.page-vector-3 {
	position: absolute;
	top: 55%;
	left: 8%
}

.page-head .page-vectors img.page-vector-4 {
	position: absolute;
	top: 25%;
	right: 2%;
}
/*------------------------------------------------------------------
Head Section / .page-head :: Ends
*/


/*------------------------------------------------------------------
5. Brand Section / .brand-partner :: Starts
*/
.brand-partner {
	margin-top: 200px;
	text-align: center;
}

.brand-partner p {
	margin-bottom: 60px;
}

.brand-partner .logo-imgs {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*------------------------------------------------------------------
Brand Section / .brand-partner :: Ends
*/


/*------------------------------------------------------------------
6. How it works Section / .how-it-works :: Starts
*/
.how-it-works {
	margin-top: 200px;
}

.how-it-works .working-content {
	margin-top: 190px;
	background-color: transparent;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;
	border-radius: 25px;
	padding-top: 65px;
	position: relative;


}

.how-it-works .work-vector img.vector-1 {
	position: absolute;
	top: -13%;
	right: -10%;
}

.how-it-works .work-vector img.vector-2 {
	position: absolute;
	top: 66%;
	left: -8%;
}

.how-it-works .work-card {
	padding-bottom: 80px;

}

.how-it-works .work-card .work-img {
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.how-it-works h6 {
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 0;
}

.how-it-works p {
	font-size: 0.7em;
	font-weight: 400;
	color: rgba(31, 31, 57, 0.5);
	line-height: 18px;
}

.how-it-works .work-card.in-touch,
.how-it-works .work-card.review {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 12px;
	padding: 0px 75px 70px 130px;
}

.how-it-works .work-card.setup,
.how-it-works .work-card.demo {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 12px;
	padding: 0px 60px 70px 100px;

}

.how-it-works .work-center {
	width: 430px;
	height: 430px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	margin-left: -30px;

}

.how-it-works .work-center-img {
	position: absolute;
	top: -14%;
	left: 50%;
	transform: translateX(-50%);
}

.how-it-works .how-footer {
	text-align: center;
	margin-top: 25px;
	border-bottom: 1px solid rgba(31, 31, 57, 0.1);
	padding-bottom: 20px;
}

.how-it-works .how-footer h6 {
	margin-bottom: 10px;
}

.how-it-works .work-card.setup .steps-para,
.how-it-works .work-card.demo .steps-para {
	padding-right: 10px;
}
/*------------------------------------------------------------------
How it works Section / .how-it-works :: Ends
*/


/*------------------------------------------------------------------
8. Why Jodi Section / .why-jodi :: Starts
*/
.why-jodi {
	margin-top: 250px;
}

.why-jodi .why-jodi-content {
	background-color: transparent;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;
	border-radius: 25px;
	padding: 90px 130px;
	margin-bottom: 20px;
}

.why-jodi .title-top {
	text-align: center;
}

.why-jodi .why-cards {
	margin: 80px 0;
}

.why-jodi .why-cards .why-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px
}

.why-jodi .why-cards .why-img {
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.why-jodi .why-cards h6 {
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 10px;
}

.why-jodi .why-cards p {
	font-size: 0.7em;
	font-weight: 400;
	color: rgba(31, 31, 57, 0.5);
	line-height: 18px;
	text-align: center;
	padding: 0 55px;
}

.why-features-cards {
	position: relative;
	margin-top: -90px;
	margin-left: 55px;
}

.why-features-cards .why-feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	background-color: #fff;
	width: 270px;
	height: 200px;
	margin-left: 30px;
	padding-bottom: 30px;
}

.why-features-cards .why-feature img {
	margin-top: 40px;
}

.why-features-cards .why-feature h3 {
	font-size: 2em;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 0;
}

.why-features-cards .why-feature h3 div {
	font-size: 1em;
	font-weight: 400;
	line-height: 28px;
}
/*------------------------------------------------------------------
Why Jodi Section / .why-jodi :: Ends
*/

/*------------------------------------------------------------------
13. Try Jodi Section / .try-jodi :: Starts
*/
.try-jodi {
	padding-top: 300px;
	position: relative;
	background: linear-gradient(180deg, rgba(255,255,255,1) 77%, #EB4B1A 20%);
}

.try-jodi .try-vectors img.vector-1 {
	position: absolute;
	top: -30%;
	right: -4%;
}

.try-jodi .try-vectors img.vector-2 {
	position: absolute;
	top: -3%;
	left: 9%;
}

.try-jodi .try-vectors img.vector-3 {
	position: absolute;
	top: 40%;
	left: -17%;
}

.try-jodi .try-vectors img.vector-4 {
	position: absolute;
	top: 60%;
	right: -3%;
}

.try-jodi .try-content {
	background-color: transparent;border-width: 1px; border-color: #EB4B1A !important;border-style:solid;
	padding: 90px 90px 100px 100px;
	border-radius: 25px;
	border-color: #EB4B1A !important;
}

.try-jodi .try-content .section-title {
	text-align: left;
}

.try-jodi .try-content .section-subtitle {
	margin-top: 15px;
	margin-bottom: 60px;
	text-align: left;
}

.try-jodi .try-content .app-download {
	justify-content: space-between;
	width: 94%;
}

.try-jodi .try-jodi-img {
	position: absolute;
	top: -17%;
	right: 12%
}
/*------------------------------------------------------------------
Try Jodi Section / .try-jodi :: Ends
*/

/*------------------------------------------------------------------
15. Footer Section / .footer :: Starts
*/
.footer {
	padding-top: 150px;
	background-color: #EB4B1A !important;
	color: #fff;
	padding-bottom: 200px;
}

.footer .footer-start {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1em;

}

.footer .footer-start img {
	margin-bottom: 20px;
}

.footer .footer-start div {
	margin-bottom: 14px;
}

.footer .footer-start div a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.footer .footer-start div a:hover {
	color: #fff;
}

.footer h5 {
	margin-bottom: 25px;
}

.footer ul li {
	list-style: none;
	line-height: 44px;

}

.footer ul li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.3s all;
}

.footer ul li a:hover {
	color: #fff;
}


.footer .footer-socials h6 {
	margin: 24px 0;
	font-size: 0.75em;

}

.footer .footer-socials .social-icon {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 27px;
}

.footer .footer-socials .social-icon a i {
	color: #fff;
}

.footer .footer-socials .social-icon a i:hover {
	color: #000000;
}

.footer .footer-socials .app-download {
	flex-direction: column;
	justify-content: flex-start;
	gap: 25px
}

.footer .footer-socials .app-download div {
	background-color: #fff;
	height: 57px;
	width: 170px;
	border-radius: 15px;
	padding: 0 30px;
}


.footer .footer-socials .app-download div a img {
	width: 18%;
}

.footer .footer-socials .app-download div.ios-download a img {
	width: 24%;
}


.footer .footer-socials .app-download div a span {
	font-size: 0.75em;
	font-weight: 700;
	margin-left: 0;
}
/*------------------------------------------------------------------
Footer Section / .footer :: Ends
*/
